.warning {
    color: red;
}
#content {
    margin-top: 3em;
}

.search_hit {
    background-color: lightgreen!important;
}

.listing {
    margin: 1em 0;
}

.listing .title {
    font-size: 20px;
}

.grey {
    color: gray;
}
.indent {
    margin-left: 2em;
}