{% extends "layout.html" %}

{% block content %}

<h1>Add a market!</h1>

<form id="add_market">
    <div class="row">
        <!-- Market Name -->
        <div class="mb-3 col">
            <label for="market_name" class="form-label">Market Name:</label>
            <input type="text" class="form-control" id="market_name" name="market_name" required>
            <label class='warning' for="market_name"></label>
        </div>

        <!-- Borough -->
        <div class="mb-3 col">
            <label for="borough" class="form-label">Borough:</label>
            <select class="form-select" id="borough" name="borough" required>
                <option value="Manhattan">Manhattan</option>
                <option value="Brooklyn">Brooklyn</option>
                <option value="Queens">Queens</option>
                <option value="Staten Island">Staten Island</option>
                <option value="Bronx">Bronx</option>
            </select>
        </div>
    </div>


    <div class="row">
        <!-- Street Address -->
        <div class="mb-3 col-10">
            <label for="street_address" class="form-label">Street Address:</label>
            <input type="text" class="form-control" id="street_address" name="street_address" required>
            <label class='warning' for="street_address"></label>
        </div>
        <div class="mb-3 col-2">
            <label for="zip" class="form-label">ZIP:</label>
            <input class="form-control" id="zip" name="zip" required>
            <label class='warning' id="zipWarning"></label>
        </div>
    </div>

    <!-- Image URL -->
    <div class="mb-3">
        <label for="image" class="form-label">Link to an image of this market:</label>
        <input type="text" class="form-control" id="image" name="image" required>
        <label for="image" class="warning"></label>
    </div>

    <!-- Days -->
    <div class="mb-3">
        <div>
            <label class="form-label">Market days:</label>
        </div>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_sunday" name="days" value="Sunday">
                <label class="form-check-label" for="day_sunday">Sunday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_monday" name="days" value="Monday">
                <label class="form-check-label" for="day_monday">Monday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_tuesday" name="days" value="Tuesday">
                <label class="form-check-label" for="day_tuesday">Tuesday</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_wednesday" name="days" value="Wednesday">
                <label class="form-check-label" for="day_wednesday">Wednesday</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_thursday" name="days" value="Thursday">
                <label class="form-check-label" for="day_thursday">Thursday</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_friday" name="days" value="Friday">
                <label class="form-check-label" for="day_friday">Friday</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="day_saturday" name="days" value="Saturday">
                <label class="form-check-label" for="day_saturday">Saturday</label>
            </div>
            <div id="daysWarning" class="warning"></div>
        </div>
    </div>

    <!-- Year Round -->
    <div class="mb-3">
        <label class="form-label">Is this market year-round?</label>
        <div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="year_round_true" name="year_round" value="true">
                <label class="form-check-label" for="year_round_true">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="year_round_false" name="year_round" value="false">
                <label class="form-check-label" for="year_round_false">No</label>
            </div>
        </div>
        <label class='warning' id="yearRoundWarning"></label>

    </div>


    <!-- Vendors List -->
    <div class="mb-3">
        <label class="form-label" for="vendors_list">Vendors at this market (enter as a comma-separated list)</label>
        <input class="form-control" name="vendors_list" type="text" id="vendors_list"
               placeholder="abcef farms, wxyz orchard, ...">
        <label class="warning" id="vendors_list_warning"></label>

    </div>

    <!-- Summary -->
    <div class="mb-3">
        <label for="summary" class="form-label">Write a bit about this market.</label>
        <textarea class="form-control" id="summary" name="summary" rows="4" required></textarea>
        <label class="warning" id="summary_warning"></label>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <button id="add-entry-btn" class="btn btn-warning">Submit</button>
        <div id="success-msg"></div>
    </div>

</form>
{% endblock %}
