{% extends "layout.html" %}

{% block content %}


<div id="search-msg">{{ msg }}</div>
<ul id="results">
    {% for result in results %}

    <li class="listing">
        <div class="title">
            <a class="text-success" href="/view/{{ result['id'] }}">{{ result['market_name'] | safe }}</a>
        </div>
        <div class="search-address bold">{{result['street_address'] | safe }}</div>
        <div class="grey">
            {{result['vendors_list'] | safe }}
        </div>
    </li>

    {% endfor %}
</ul>


{% endblock %}

